# Spotify
NEXT_PUBLIC_SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# YouTube/Google
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_YOUTUBE_API_KEY=

# SoundCloud
NEXT_PUBLIC_SOUNDCLOUD_CLIENT_ID=
SOUNDCLOUD_CLIENT_SECRET=

# Shazam (RapidAPI)
RAPIDAPI_KEY=

# Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000
